.flat.no-svg {
  #blog-paper #blog-logo {
    background-image: url($base-path + 'img/home.png');
  }
  #book {
    #logo {
      background-image: url($base-path + 'img/logo.png');
    }
    .page header #home {
      background-image: url($base-path + 'img/home.png');
    }
    #right {
      #contact-card {
        background-image: url($base-path + 'img/card.png');
      }
    }
    .social a {
      background-image: url($base-path + 'img/twitter.png');
      &.linkedin {
        background-image: url($base-path + 'img/linkedin.png');
      }
      &.flickr {
        background-image: url($base-path + 'img/flickr.png');
      }
    }
  }
}
.no-cssgradients footer #toggle {
  display: none;
}
