.flat.home #book {
  margin-top: 2em;
  display: table;
  #logo {
    margin: 0;
    color: transparent;
    cursor: default;
    display: table-cell;
    width: 10em;
    height: 10.5em;
    background: url(/img/logo.svg) no-repeat center top;
  }
  #tagline {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    font-weight: normal;
    padding: 1em;
    font-family: $flat-headline;
  }
  @media screen and (max-width: 38em) {
    padding: 0 1.5em;
    margin-top: 1em;
    #logo {      
      width: 6em;
      height: 7em;
      margin: 0 auto;
    }
    #tagline {
      font-size: 1.5em;
    }
  }
  @media screen and (max-width: 28em) {
    #logo {
      display: block;
    }
    #tagline {
      display: block;
      padding-top: .5em;
      text-align: center;
    }
  }
}