// Inner Page Overrides
.flat nav .current {
    background-color: $light-blue;
}
.flat #book {
  max-width: 60em;
  .page {
    width: 50%;
    float: left;
    padding: 1em;
    header, .header {
      margin-bottom: 1.5em;
      #home {
        display: inline-block;
        color: transparent;
        font-size: 2.5em;
        margin-right: .5em;
        background: url(/img/home.svg) no-repeat center center;
        background-size: contain;
      }
    }
    section, .section {
      clear: left;
      background-color: lighten($blue, 50%);
      padding: .75em;
      margin-bottom: 1em;
    }
    &#right header h2, &#right .header h2 { 
      text-align: center;
      font-size: 1.75em;
      padding-top: .4em;
      margin: 0;
    }
    .definition {
      color: lighten($blue, 20%);
    }
    .link {
      color: black;
      padding: 0 .25rem;
      margin: 0 -.25rem;
      &:hover {
        background-color: $red;
        color: #FFF;
        text-decoration: none;
      }
    }
  }
  .photo {
    float: left;
    padding: .5em;
    // Don't show empty photos
    display: none;
    &[href] {
      display: block;
    }
    img {
      width: 100%;
      padding: .5em;
      background-color: lighten($blue, 35%);
    }
  }
  // Drop examples below text and make text two columns
  @media screen and (max-width: 60em) {
    .page {
      width: 100%;
      padding: .5em;
      header, .header { 
        margin-left: .5em;
        margin-top: .5em;
      }
      .main {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .photo {
        width: auto;
        max-width: 10em;
      }
      .one-up { max-width: none; }
      .two-up { max-width: 18em; }
      &#left section, &#left .section {
          width: 47%;
          margin: .5em;
          display: inline-block;
          vertical-align: top;
      }
    }
  }
  // Make everything one column
  @media screen and (max-width: 40em) {
    .page {
      padding: .5em;
      header {
        margin-left: 0;
        margin-top: 0;
      }
      &#left section {
        width: 100%;
        margin: 0 0 .5em;
        display: block;
      }
      .photo { max-width: 9em; }
      .one-up { max-width: none; }
      .two-up { max-width: 15.75em; }
    }
  }
  @media screen and (max-width: 31em) {
    & { margin-top: .5em; }
    .page {
      header #home, header h1 {
        font-size: 2em;
      }
    }
  }
}
// Make the image detail full size
@media screen and (min-width: 40em) {
  .flat.image #book {
    .page {
      width: 100%;
      padding: .5em;
      header, .header { 
        margin-left: .5em;
        margin-top: .5em;
      }
      .main {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .photo {
        width: auto;
        max-width: 10em;
      }
      .one-up { max-width: none; }
      &#right section, &#right .section {
          width: 47%;
          margin: .5em;
          display: inline-block;
          vertical-align: top;
      }
    }
  }
}
@-moz-document url-prefix() {
  .flat #book .page .main {
    display: block !important; // Override media query
  }
}
