.gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  // -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; // default: stretch
  -webkit-justify-content: space-around;
  // -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.view-gallery {
  width: 100%;
  padding-top: 1em;
  clear: left;
  text-align: center;
}
.gallery-group-title {
  width: 100%;
  text-align: center;
}
.gallery-pagination {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .next {
    width: 100%;
    text-align: right;
  }
}
@-moz-document url-prefix() { 
  .gallery {
     display: block;
  }
  .gallery-pagination, .gallery-group-title {
    display: block;
    clear: left;
  }
}
.sketchbook {
  .gallery-group-title {
    font-size: 1.5em;
    padding-top: .5rem;
  }  
  .gallery-photo-tall {
    width: 5rem;
  }
  .gallery-photo-wide {
    width: 8rem;
  }
  .gallery-pagination {
    padding-top: 1.5rem;
  }
  .disabled {
    opacity: .2;
    cursor: default;
  }
  #right .gallery-pagination .previous {
    display: none;
  }
}
.sketchnote-gallery {
  #sketchnotes.tab:after { display: none; }
  #book #left.page:before { display: none; }
}
.flat {
  .gallery-group-title {
    padding-top: 1em;
  }  
  .gallery-photo-tall {
    width: 7em;
  }
  .gallery-photo-wide {
    width: 12.5em;
  }
  .gallery-pagination {
    padding-top: .5em;
  }
  .disabled {
    opacity: .2;
    cursor: default;
    &:hover {
      color: $text;
      background-color: lighten($blue, 30%);
    }
  }
  #right .gallery-pagination .previous {
    display: none;
  }
  @media screen and (max-width: 60em) {
    #left .gallery-pagination {
      display: none;
    }
    #right .gallery-pagination .previous {
      display: block;
    }
    .gallery-pagination > * {
      width: 50%;
      float: left;
    }
  }
  @media screen and (max-width: 30em) {
    .gallery-pagination > * {
      width: 100%;
      text-align: center;
    }
  }
}