.post {
  p {
    padding-bottom: 1em;
  }
  h2 {
    font-size: 2em;
  }
  .meta {
    padding: .25em 0 0;
  }

  .post-image-right {
    margin: 1em;
  }
  .post-image-left {
    margin: 1em;
  }
  .post-image-m {
    width: 100%;
  }
  .post-image-s {
    width: 100%;
  }
}
.hide {
  display: none;
}