.post {
  p {
    padding-bottom: 1em;
  }
  h2 {
    font-size: 2em;
  }
  .meta {
    padding: .25em 0 0;
  }

  .post-image-right {
    margin: 1em;
    @media screen and (min-width: $mq-flat-xsmall) {
      float: right;
      margin: 1em 0 .5em 1em;
    }
  }
  .post-image-left {
    margin: 1em;
    @media screen and (min-width: $mq-flat-xsmall) {
      float: left;
      margin: 1em 1em .5em 0;
    }
  }
  .post-image-m {
    width: 100%;
    @media screen and (min-width: $mq-flat-xsmall) {
      max-width: 25em;
    }
  }
  .post-image-s {
    width: 100%;
    @media screen and (min-width: $mq-flat-xsmall) {
      max-width: 12.5em;
    }
  }
}
.hide {
  display: none;
}