.sketchbook.home #wrapper,
.sketchbook.blog #wrapper {
	width: auto;
	box-sizing:border-box;
}
.sketchbook.home nav {
  width: 30rem;
  left: 50%;
  margin-left: -15rem;
  &:before {
    top: .25rem;
    border-radius: 1.875rem;    //20px / 16px;
  }  
}
.sketchbook.home .tab {
  &:after{
    border-radius: 1.875rem;    //20px / 16px;
    width: 49.5rem;
    height: 15rem;
  }
  &#infographics:after {
    left: -18.75rem;
  }
  &#design:after {
    left: -34.4rem;
  }
}
.sketchbook.home #blog {
  left: -.75rem;
  transform:rotate(-5deg);
  box-shadow: 0 .25rem .625rem hsla(0,0%,0%,.4), .4rem -.4rem $legal, .4rem -.4rem .625rem hsla(0,0%,0%,.4), .8rem -.8rem $legal, .8rem -.8rem .625rem hsla(0,0%,0%,.4);
  &:hover {
    left: -1.25rem;
    box-shadow: 0 .25rem .625rem hsla(0,0%,0%,.4), .4rem -.4rem $legal, .4rem -.4rem .625rem hsla(0,0%,0%,.4), .8rem -.8rem $legal, .8rem -.8rem .625rem hsla(0,0%,0%,.4), 0 0 4rem $shadow;
  }
  .link {
    position: static;
  }
}
.sketchbook.home #book {
  width: 30rem;//480px
  background-color: $cover;
  background-image: $noise;
  padding: 7.5rem;//120px
  border-radius: .3125rem 1.875rem 1.875rem .3125rem;   //5px / 16px  30px / 16px
  box-shadow: inset 0px 0px .625rem hsla(0,0%,100%,0.6), .3125rem .3125rem .625rem hsla(0,0%,0%,.4), .625rem .625rem 1.875rem hsla(0,0%,0%,.2);
  // Elastic
  &:before {
    height: 50.4rem;
    top: -.2rem;
    z-index: auto;   
  }
  // Back cover
  &:after {
    width: 30rem;
    height: 49rem;
    left: 1.25rem;
    top: .5rem;
    border-radius: .3125rem 1.875rem 1.875rem .3125rem;   //5px / 16px  30px / 16px    
  }
}