@mixin smooth {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
// Contact
.sketchbook p, .sketchbook input, .sketchbook textarea, .sketchbook a, .sketchbook button {
	font-family: 'Short Stack', sans-serif;
	font-size: 1em;
	margin: 0;
	line-height: 1.3em;
}
.sketchbook #envelope {
	position: absolute;
	left: 1.1875rem;//19px
	bottom: 1.3125rem;//21px
	width: 27rem;//432px (4.5")
	height: 40.5625rem;//649px;
	overflow: hidden;
}
.sketchbook #shadow {
	opacity: 1;
	bottom: 1.3125rem;//21px
	left: 1.1875rem;//19px
	height: 18rem;
	box-shadow: $envelope-shadow, .1875rem .1875rem .9375rem hsla(0,0%,0%,.2);//3px 3px 15px
}
.sketchbook .envelope {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 27rem;//432px (4.5")
	background-color: $envelope;
	box-shadow: $envelope-shadow;
	&.flap {
		bottom: 18rem;
		height: 22.5625rem;//361px; (649px - 288px)
		background: none;
		box-shadow: none;
		overflow: hidden;
		@include apply-origin(0% 100%, false);
		&:before {
			content: '';
			position: absolute;
			background-color: $envelope;
			box-shadow: $envelope-shadow;
			top: 7.5625rem;//121px; (649px - 528px (5.5"))
			left: 0;
			width: 27rem;
			height: 27rem;
			@include rotate(45deg);
			@include apply-origin(18% 63%, false);
			border-radius: 2rem;//32px;
		}
	}
	&.back {
		height: 18rem;//288px; (3")
		@include rotate(30deg);
		@include apply-origin(0% 0%, false);
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			content: '';
			width: 80%;
			height: 100%;
			background-color: $envelope;
			box-shadow: $envelope-shadow;
			@include rotate(-60deg);
			@include apply-origin(37.5% -20%, false);
		}
		&:after {
			position: absolute;
			bottom: 0;
			right: 0;
			content: '';
			width: 100%;
			height: 27rem;			
			background-color: $envelope;
			box-shadow: $envelope-shadow;
			@include rotate(15deg);
			@include apply-origin(-61% 207%, false);
			border-radius: 2rem;//32px;
		}
	}
}
.sketchbook .letter {
	width: 25.5rem;//408px; (4.25")
	height: 33rem;//528px; (5.5")
	background-color: $letter;
	box-shadow: .125rem .125rem .625rem hsla(0,0%,0%,.3);//2px 2px 10px
	position: absolute;
	top: 1rem;
	left: .75rem;//12px;
	padding: 1rem;
	.top {
		height: 50%;
	}
	p {
		margin-bottom: 1rem;
	}
	.input:focus {
		outline: none;
		-webkit-tap-highlight-color: $letter;
		background-color: hsla(0,0%,0%,.1);
		box-shadow: inset 0 0 .75rem hsla(0,0%,0%,.3);
	}
	.box {
		padding-left: .5rem;
		padding-top: .25rem;
		margin-top: -.25rem;
		margin-right: .25rem;
		background-color: transparent;
		border-radius: .5rem .5rem 0 0;
		border: none;
		border-bottom: 2px solid $cover;
	}
	.email {
		width: 18rem;
	}
	.message {
		margin-top: .25rem;
		padding: .25rem;
		border-radius: .5rem;
		display: block;
		width: 100%;
		height: 8em;
		background-color: transparent;
		border: none;
	}
	.send {
		position: absolute;
		left: 50%;
		margin-left: -3.5rem;
		bottom: 3rem;
		opacity: 1;
		background-color: $blue;
		color: #FFF;
		box-shadow: 0 0 .625rem hsla(0,0%,0%,.3);//10px
		text-align: center;
		width: 7rem;
		height: 6rem;
		padding: 0 0 2.75rem;
		border: none;
		border-radius: .75rem;
		@include single-transition($duration: .3s);
		&:hover {
			bottom: 3.75rem;
			box-shadow: 0 0 2rem $blue;			
		}
		&:focus {
			outline: none;
			-webkit-tap-highlight-color: $letter;
			box-shadow: 0 0 2rem $blue;			
		}
    &:before { display: none; }
	}
}
.sketchbook .letter.drop {
	top: 23rem;		
	@include single-transition($duration:1.5s);	
	@include smooth;
}
.sketchbook #envelope.sent {
	@include single-transition($property:left, $duration:1s, $delay:1s, $function:cubic-bezier(.3,-.3,.5,1));
	left: 100rem;
	z-index: 10;
	@include smooth;
	.flap {
		@include rotateX(180deg);
		@include single-transition($duration:1s, $delay:0s);
		z-index: 20;
	}
}
.sketchbook #shadow.sent {
	@include single-transition($property:left, $duration:1s, $delay:1s, $function:cubic-bezier(.3,-.3,.5,1));
	left: 100rem;
	@include smooth;
}
.sketchbook #envelope.off {
	bottom: -100rem;
	height: 400rem;
	.letter {
		top: -200rem;
		.send {
			opacity: 0;
			bottom: -3rem;
		}
	}
}
.sketchbook #shadow.off {
	bottom: -100rem;
}
.sketchbook #envelope.reset, #shadow.reset {
	@include single-transition($duration:1.5s,$function:ease-out);
	@include smooth;
}
.sketchbook #envelope.reset .letter .send {
	@include single-transition($duration:.5s,$function:ease-out,$delay:2s);
	@include smooth;
}
.sketchbook .thanks {
	position: relative;
	padding-top: 11rem;
	height: 40.5625rem;//649px;
	font-size: 3rem;
	text-align: center;
	.dance {
		padding-top: 4rem;
	}
	.another {
		font-size: 1rem;
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -9rem;
		bottom: 1rem;
		padding: 1rem 0;
		width: 18rem;
	}
}
.sketchbook #contact-card {
  position: absolute;
  width: 21rem;
  height: 12rem;
  top: -1rem;
  right: 3rem;
  @include rotate(10deg);
  border: .5rem solid $card;
  font-size: 1.5em;
  background: $card url(/img/card.svg) no-repeat center center;
  background-size: contain;
  box-shadow: .3125rem -.3125rem 1.5rem hsla(0,0%,0%,.2);
}
.sketchbook .bio {
	margin-top: 16rem;
  -webkit-justify-content: flex-start;
  // -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
	.photo {
    display: inline-block;
    width: 8.25rem;
		margin-left: 2.1875rem;//35px
    margin-right: 1rem;
		&:before {
			top:-.75rem;
		}
	}
	.blurb {
    display: inline-block;
    width: 10.5625rem;
		text-align: center;
	}
}
.sketchbook .social {
  padding-right: 2rem;
  h2 {
    font-size: 1.75rem;
    margin-top: 4rem;
    margin-bottom: .5rem;
  }
	a {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1rem;
		border-radius: .75rem;
		@include single-transition($duration:.3s);
		&:hover {
			box-shadow: 0 0 0 .25rem #000, 0 0 1rem .25rem hsla(0,0%,0%,.2);
		}
	}
}