@import "vars";

html.flat {
  background-color: lighten($blue, 45%);
}
.flat #wrapper {
  width: 62em;
  margin-left: auto;
  margin-right: auto;
}
.flat #book {
  #logo {
    padding-top: 9em;
    color: $blue;
  }
}
.hidden { display: none; }
.flat.contact #book #left .main { display: none; }