      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/jquery-1.10.2.min.js"><\/script>')</script>
      <script src="{{ site.baseurl }}/js/jquery.colorbox-min.js"></script>
      <script>
        $(function() {
          // This was to make the links not open in a browser if you saved the site to your home screen in iOS
          // $('a').not('.gallery a.photo, .social a, a.another').on('click',function(e) {
          //     e.preventDefault();
          //     window.location = $(this).attr("href");
          // });
          $('.gallery a.photo').colorbox({rel:'gallery',returnFocus:false,maxWidth:"95%",maxHeight:"95%"});
          $('#menu').click(function(e) {
            e.preventDefault();
            $('nav, #gallery').toggleClass('expanded');
          });
          {{ page.readyScript }}
        });
        {{ page.functionScript }}
      </script>
    </body>
  </head>
</html>