#logo {
	margin-right: 1.5rem;
	.logo-wrapper {
		display: inline-block;
	}
	.logo {
		padding: .3125rem;//5px;
		width: 100%;
		@include boxSizing();
	}
}
.paper {
	width: 58.75rem;//940px
	height: 48.5rem;//776px
	background-color: $paper;
	position: absolute;
	left: .625rem;//10px
	top: .375rem;//6px
	padding: 1.3125rem;//21px
	border-radius: 1.25rem;		//20px / 16px;
	box-shadow: 0px 0px 1.25rem rgba(0,0,0,.4), inset 0px 0px 3.75rem $paper-dark;//20px, 60px
	@include linearGradient(left, rgba(242, 203, 155,0) 40%, rgba(242, 203, 155,.3) 49%, rgba(242, 203, 155,.3) 51%, rgba(242, 203, 155,0) 60%);
	&.right {
		&.back-one {
			left: .75rem;//12px
		}
		&.back-two {
			left: .875rem;//14px
		}
	}
	&.left {
		&.back-one {
			left: .5rem;//8px
		}
		&.back-two {
			left: .375rem;//6px
		}
	}
	&.back {
		left: .75rem;//12px
	}
}
#crease {
	width: 1px;
	height: 100%;
	background-color: $paper-crease;
	position: absolute;
	top: 0;
	left: 50%;
}
.page {
	width: 50%;
	float: left;
	&.left {
		padding-right: 1.3125rem;//21px	
	}
	&.right {
		padding-left: 1.3125rem;//21px	
	}
}
#full-cover {
	width: 60rem;//960px;
	height: 49.5rem;//792px;
	position: absolute;
	border-radius: 1.875rem;		//30px / 16px;
}
.header h2 {
	text-align: center;
}
.content {
	a {
		text-decoration: underline;
	}
}
.definition {
	color: hsl(0,0%,60%);
}
a.link {
	padding: 0 .25rem;//4px
	margin: 0 -.25rem;//4px
	&:hover {
		background-color: $blue;
		border-radius: .25rem;//4px
		color: #FFF;
		text-decoration: none;
	}
}
.photo {
	position: relative;
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		left: 50%;
		margin-left: -20%;
		top: -.5rem;
		width: 40%;
		height: 1.2rem;
		background-color: $tape;
		box-shadow: .1rem .1rem .25rem hsla(0,0%,0%,.15);
		@include rotate(-5deg);
	}
	&:after {
		content: '';
		position: absolute;
		right: .5rem;
		bottom: 1.5rem;
		width: 50%;
		height: 20%;
		background-color: #FFF;
		box-shadow: 0 .9375rem .625rem hsla(0,0%,0%,.7);
		@include rotate(6deg);
		z-index: -1;
	}
	img {
		width: 100%;
		background-color: $paper;
		// border: .25rem solid #FFF;
		// border-radius: .25rem .25rem 7.5rem .25rem / .25rem .25rem .375rem .25rem;
		border-radius: .25rem;
		margin-bottom: .5rem;
		box-shadow: 0 .0625rem .25rem hsla(0,0%,0%,.3), inset 0 0 2.5rem hsla(0,0%,0%,.1);
		@include boxSizing;
	}
}
.infographics .photo {
	margin-left: 1.15625rem;//18.5px;
}
