$sticker: #FFF;
$elastic: #500;
$blue: #1B86AE;
$paper: #FBEFE1;
$paper-dark: #F2CB9B;
$paper-crease: #CA8C39;
$cover: #050505;
$background: #B87B4F;
$cover-text: #E0E0E0;
$card: #FEFEFE;
$logo: #7B421D;
$legal: #F2DD72;
$legal-line: #C2BF61;
$envelope: #FFF;
$envelope-shadow: 0 0 .625rem hsla(0,0%,0%,.5);//10px
$letter: #F0F0F0;
$tape: hsla(0,0%,94%,.7);
$noise: url('../img/noise.png');

$top-space: 60px;

$grid_1: 1.3125rem;//21px
$grid_2: 3.625rem;//58px
$grid_3: 5.9375rem;//95px
$grid_4: 8.25rem;//132px
$grid_5: 10.5625rem;//169px
$grid_6: 12.875rem;//206px
$grid_7: 15.1875rem;//243px
$grid_8: 17.5rem;//280px
$grid_9: 19.8125rem;//317px
$grid_10: 22.125rem;//354px
$grid_11: 24.4375rem;//391px
$grid_12: 26.75rem;//428px
