@import "normalize";
@import "vars";
@import "mixins";
:root {
	background-color: $background;
	background-image: url('../img/wood.jpg');
}
body {
	font-size: 16px;
	font-size: 3vw;
	@media screen and (min-width: 552px) {
		font-size: 16px;
	}
	@media screen and (orientation:portrait) and (max-width: 1124px) {
		// font-size: 1.6vh;
		// font-size: 3.2vw;
	}
}
h1 {
	font-family: 'Walter Turncoat', serif;
	font-size: 200%;
}
p {
	font-family: 'Short Stack', sans-serif;
	font-size: 87.5%;
	margin: 1em 0em 1.17em;
	line-height: 1.2em;
}
a {
	text-decoration: none;
	color: $cover;
}
#outer {
	width: 96%;
	max-width: 1080px;
	margin: 5% auto 0;
	padding: 0 3%;
	@media screen and (orientation:portrait) and (max-width: 1124px) {
		margin-top: 10%;
		max-width: 540px;
	}
	&.home {
		width: 75%;
	}
}
@media screen and (max-device-width: 750px) {
	#outer.home {
		width: 96%;
	}
}
#inner {
	width: 100%;
	padding: 83.3333333% 5.5555556% 0;		//900px / 1080px (top) 60px / 1080px (left/right);
	position: relative;
	@media screen and (orientation:portrait) and (max-width: 1124px) {
		width: 200%;
		padding: 166.6666667% 11.1111111% 0;
	}
}
.home #inner {
	width: 100%;
}
.wrapper {
}
object, img {
	max-width: 100%;
}
#home-logo {
	width: 70%;
	margin: 0 auto 20px;
	padding: 30px;
	border-radius: 20px;
	background-color: $sticker;
	@include boxSizing();
}
#logo {
	width: 30%;
	padding: 5px;
	display: inline-block;
	margin: -10px 0px 0px -10px;
	img {
		padding: 5px;
		width: 100%;
		@include boxSizing();
	}
}
#cover-text {
	padding: 16.6666667%;		//80px / 480px (#book (#front-cover) width);
	width: 100%;
	color: $cover-text;
	text-align: center;
	p {
		font-size: 18px;
		padding: 0 10px;
	}
}
div {
	@include boxSizing();
}
#book {
	width: 44.4444444%;				//480px / 1080px (#inner width);
	height: 88.8888889%;			//800px / 900px (#inner height);
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -22.2222222%;
	z-index: 2;
	@media screen and (orientation:portrait) {
		width: 88.8888889%;
		margin-left: -44.4444444%;
	}
}
#stack #book {
	position: absolute;
	z-index: -3;
	left: -500px;
}
#spread {
	width: 88.8888889%;			//960px / 1080px (#inner width);
	height: 88.8888889%;		//800px / 900px (#inner height);
	position: absolute;
	top: 0;
	z-index: 2;
}
.paper {
	width: 98%;			//950px / 960px;
	height: 97%;		//776px / 800px
	background-color: $paper;
	position: absolute;
	left: 1.0416667%;			//10px / 960px (#spread width);
	top: .8%;
	padding: 2.0833333%;		//20px / 960px (#spread width);
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgba(0,0,0,.4), inset 0px 0px 60px $paper-dark;
	@include linearGradient(left, rgba(242, 203, 155,0) 40%, rgba(242, 203, 155,.3) 49%, rgba(242, 203, 155,.3) 51%, rgba(242, 203, 155,0) 60%);
	&.right {
		&.back-one {
			left: 1.25%;		//12px / 960px (#spread width);
		}
		&.back-two {
			left: 1.4583333%;	//14px / 960px (#spread width);
		}
	}
	&.left {
		&.back-one {
			left: .8333333%;	//8px / 960px (#spread width);
		}
		&.back-two {
			left: .625%;		//6px / 960px (#spread width);
		}
	}
	&.back {
		left: 1.25%;		//12px / 960px (#spread width);
	}
}
#paper-front {
	width: 96.875%;			//465px / 480px (#book width);
	height: 98.7531172%;	//792px / 800px (#book height);
	top: 0.625%;			//5px / 800px (#book height);
	left: 1.25%;			//6px / 480px (#book width);
	border-radius: 0px 20px 20px 0px;
}
#crease {
	width: 1px;
	height: 100%;
	background-color: $paper-crease;
	position: absolute;
	top: 0;
	left: 50%;
}
#left-page {
	width: 50%;
	padding-right: 2.5773196%;		//20px / 776px (#paper width)
}
#right-page {
	width: 50%;
	padding-left: 2.5773196%;		//20px / 776px (#paper width)
}
//Moleskine Large 5" x 8.25" (480px x 792px)
//Moleskine Pocket 3.5" x 5.5" (336px x 528px)
#front-cover {
	width: 100%;	//480px;
	height: 98.7531172%;		//792px;
	position: absolute;
	top: 1.25%;			//10px / 800px (#book height);
	left: 0px;
	border-top-left-radius: 0;
}
#back-cover {
	width: 98.9583333%;		//475px;
	height: 98.7531172%;		//792px;
	position: absolute;
}
#full-cover {
	width: 100%;			//960px;
	height: 98.7531172%;		//792px;
	position: absolute;
	border-radius: 30px;
}
.cover {
	background-color: $cover;
	background-image: $noise;
	border-radius: 5px 30px 30px 5px;
	box-shadow: inset 0px 0px 10px rgba(255,255,255,0.6), 5px 5px 10px rgba(0,0,0,.4), 10px 10px 30px rgba(0,0,0,.2);	
}
#elastic-verytop {
	width: 5.2083333%;			//25px / 480px (#book width);
	height: 3px;
	position: absolute;
	top: -3px;
	right: 13.5416667%;		
	border-radius: 3px 3px 0px 0px;
}
#elastic-top-box {
	width: 6.25%;			//30px / 480px (#book width);
	height: 1.25%;			//10px / 800px (#book height);
	position: absolute;
	right: 12.5%;		
	overflow: hidden;
}
#elastic-top {
	width: 76.6666667%;		//23px / 30px (#elastic-top-box width);
	height: 250%;			//25px / 10px (#elastic-top-box height);
	position: absolute;
	background-size: 25% 100%;
	@include rotate(-25deg);
	@include origin(0% 0%);
}
#elastic-main {
	width: 5.2083333%;			//25px / 480px (#book width);
	height: 99.375%;			//795px / 800px (#book height);
	position: absolute;
	top: 1.25%;			//10px / 800px (#book height);
	right: 12.5%;		
	border-radius: 0px 0px 3px 3px;
}
#elastic-inner {
	width: 2.6041667%;			//25px / 960px (#spread width);
	height: 99.75%;				//798px / 800px (#spread width);
	position: absolute;
	top: -3px;
	right: 6.25%;		//60px;
	border-radius: 3px;
}
.elastic {
	background-color: $elastic;
	@include linearGradient(left, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,.2) 100%);
	background-size: 20% 100%;
	box-shadow: 2px 0px 5px rgba(0,0,0,.2);
}
.nav {
	@include boxSizing;
	position: absolute;
	right: -11.0416667%;		//-106px / 960px (#spread width);
	width: 20.8333333%;			//200px / 960px (#spread width);
	height: 8.75%;				//70px / 800px (#spread/#book height)
	padding-top: 1.5625%;		//15px / 960px (#spread width)
	text-align: center;
	text-transform: uppercase;
	font-family: 'Walter Turncoat', sans-serif;
	font-size: 100%;
	@include rotate(90deg);
	border-radius: 20px 20px 0px 0px;
	background-color: $paper;
	box-shadow: 5px -5px 10px rgba(0,0,0,.2), inset 0px 0px 2px rgba(255,255,255,.5), inset 0px 0px 30px $paper-dark;
	@include transition($duration: .1s);
	&:hover {
		right: -12.0833333%;	//-116px / 960px (#spread width);
	}
}
.home .nav {
	right: -22.0833333%;		//-106px / 480px (#book width)
	width: 41.6666667%;			//200px / 480px (#book width)
	padding-top: 2.0833333%;	//10px / 480px (#book width)
	&:hover {
		right: -24.1666667%;	//-116 / 480px (#book width)
	}
}
.nav.left {
	left: -11.0416667%;			//-106px / 960px (#spread width);
	@include rotate(-90deg);
	&:not(.current):hover {
		left: -12.0833333%;		//-116px / 960px (#spread width);
	}
	&.current {
		cursor: default;
		height: 6.375%;			//51px / 800px (#spread/#book height);
		left: -13.0208333%;		//-125px / 960px (#spread width);
	}
}
#sketchnotes {
	top: 15%;				//120px / 800px (#book height)
	&.current {
		top: 15.9793814%;	//124px / 776px (.paper height);
	}
}
#design {
	top: 46.25%;			//370px / 800px (#book height)
	&.current {
		top: 48.1958763%;	//374px / 776px (.paper height);
	}
}
#presentations {
	top: 77.5%;				//620px / 800px (#book height)
	&.current {
		top: 80.5412371%;	//625px / 776px (.paper height);
	}
}
#home-nav .back-one {
	@include linearGradient(bottom, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 55%);
}
#home-nav .back-two {
	@include linearGradient(bottom, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 70%);
}
//Business Card 3.5" x 2" (336px x 192px)
.card {
	width: 35%;				//336px / 960px (#spread width);
	height: 24%;			//192px / 800px (#book/#spread height)
	background-color: $card;
	// background-image: $noise;
	position: absolute;
	top: -1.875%;			//-15px / 800px (#book#spread height)
	right: 5.2083333%;		//50px / 960px (#spread width);
	@include rotate(10deg);
	// padding: 1.0416667%;	//10px / 960px (#spread width);			
	box-shadow: 5px -5px 20px rgba(0,0,0,.2);
}
.home .card {
	width: 70%;				//336px / 480px (#book width)
	right: 10.4166667%;		//50px / 480px (#book width)
	padding: 2.0833333%;	//10px / 480px (#book width)
}
#card {
	@include transition($duration: .2s);
	&:hover{
		top: -2.75%;			//-22px / 800px (#book height)
		right: 6.7708333%;		//65px / 960px (#spread width);
	}
}
.home #card:hover {
	right: 13.5416667%;		//65px / 480px (#book width)
}
#contact-page-card .card-info {
	height: 100%;
}
#contact-line {
	margin: 0px 0px 0px 5px;
	font-family: 'Walter Turncoat', serif;
	text-transform: uppercase;
	font-size: 24px;
	font-size: 150%;		//24px / 16px (body font-size)
}
#stack {
	position: absolute;
	right: -1%;
	top: 3.75%;				//30px / 800px (#spread height)
	width: 42.5%;			//408px / 960px (#spread width)
	height: 100%;
	z-index: 0;
	@include transition($duration: .2s);
	@include rotate(5deg);
	&.blog {
		@include rotate(0deg);
		margin-top: 60px;
	}
	&:hover {
		right: -2%;
		top: 2.5%;			//20px / 800px (#spread height)
	}
}
.home #stack {
	@include rotate(-5deg);
	top: 5%;				//40px / 800px (#book (#stack) height)
	left: -2%;
	right: auto;
	width: 85%;			//408px / 480px (#book width)
	&:hover {
		left: -4%;
		top: 3.75%;			//30px / 800px (#book (#stack) height);
	}
}
//Legal Paper 8.5" x 14" (816px x 1344px)
#blog-paper {
	width: 816px;
	height: 1344px;
	position: relative;
	margin: 1em auto;
	padding: 1em 2em;
	border-radius: 3px;
	background-color: $legal;
	@include linearGradient($legal-line 1px, transparent 1px);
	background-size: 100% 1.2em;
	background-position: 0 .6em;
	background-origin: content-box;
	box-shadow: 0 4px 10px rgba(0,0,0,.4);
	&:before, &:after {
		content: "";
		border-radius: 3px;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		background-color: $legal;
		@include linearGradient($legal-line 1px, transparent 1px);
		background-size: 100% 1.2em;
		background-position: 0 .6em;
		background-origin: content-box;
	    @include boxSizing;
		box-shadow: 0 4px 10px rgba(0,0,0,.4);
		@include transition($duration: .1s);
	}
	&:before {
		top: 4px;
		z-index: -1;
		@include rotate(2deg);
	}
	&:after {
		top: 8px;
		z-index: -2;
		@include rotate(-2deg);
	}
}
a#blog-paper {
	position: absolute;
	width: 100%;			//408px / 408px (#stack width);
	height: 84%;		//672px / 800px (#book/#spread (#stack) height);
	margin: 0;
	padding: 0;
}
#blog-link {
	font-family: 'Walter Turncoat', serif;
	font-size: 24px;
	font-size: 150%;		//24px / 16px (body font-size)
	text-transform: uppercase;
	position: absolute;
	right: 11.0294118%; 			//45px / 408px (.home a#blog-paper width);
	top: 7.4404762%;			//50px / 672px (a#blog-paper);
	margin: 0;
	@include rotate(90deg);
	@include origin(100% 100%);
}
.home #blog-link {
	left: 11.0294118%; 			//45px / 408px (.home a#blog-paper width);
	top: 2.9761905%;			//20px / 672px (a#blog-paper);
	@include rotate(90deg);
	@include origin(0% 0%);
}
.blog-logo {
	margin-top: 10px;
	width: 80px;
}
.blog h1 {
	display: inline-block;
	font-size: 3em;
	text-align: center;
}
.hidden {
	position: absolute;
	opacity: 0;
}