:root.sketchbook.blog {
  font-size: 100%;
}
.blog {
  .page-header {
    @include flex;
    @include align-items(center, center);
    margin-bottom: 1em;
  }
  .title {
    padding-left: .5em;
  }
  .post-snippet {
    padding: .5em 0;
  }
  .post-snippet-title {
    margin-bottom: .25em;
  }
  .post-header {
    margin-bottom: .75em;
  }
  h2 {
    font-size: 1.75em;
  }
  .meta {
    //color: #666;
    opacity: .6;
  }
  .archives {
    padding: 1em 0;
    text-align: center;
  }
  .continue-link {
    display: inline-block;
    margin-top: 1em;
    &:before {
      float: right;
      margin: 0 0 0 .5em;
    }
  }
  &.sketchbook {
    body {
      font-size: .9em;
      margin: 0;
      @media screen and (min-width: $mq-book-text-small) {
        font-size: 1em;
      }
      @media screen and (min-width: $mq-book-text-med) {
        font-size: 1.1em;
      }
      @media screen and (min-width: $mq-book-text-large) {
        font-size: 1.2em;
      }  
    }
    #wrapper {
      padding: 0 1em;
      max-width: 57em;
    }
    nav {
      display: none;
    }
    p, time, a {
      line-height: 1.3;
      @media screen and (min-width: $mq-book-text-small) {
        line-height: 1.4;
      }
      @media screen and (min-width: $mq-book-text-med) {
        line-height: 1.5;
      }
      @media screen and (min-width: $mq-book-text-large) {
        line-height: 1.6;
      }  
    }
    #home.blog-logo {
      width: 5rem;
      height: 8rem;
      margin-right: .5rem;
      text-indent: 100%;
      overflow: hidden;
      background: transparent url($base-path + 'img/logo.svg') no-repeat center center;
    }
    //Legal Paper 8.5" x 14" (816px x 1344px)
    #blog-paper {
      width: 100%;
      max-width: 60em;
      min-height: 30em;
      position: relative;
      margin: 1em auto;
      padding: 1em;
      border-radius: .1875rem;//3px;
      background-color: $legal;
      @include background-image(linear-gradient($legal-line 1px, transparent 1px));
      background-size: 100% 1.3em;
      // background-position: 0 .6em;
      background-origin: content-box;
      box-shadow: 0 .25rem .625rem rgba(0,0,0,.4);//4px, 10px
      &:before, &:after {
        content: "";
        border-radius: .1875rem;//3px;
        width: 100%;
        height: 30rem;
        position: absolute;
        top: -.25rem;
        left: 0;
        background-color: $legal;
        @include background-image(linear-gradient($legal-line 1px, transparent 1px));
        background-size: 100% 1.2em;
        background-position: 0 .6em;
        background-origin: content-box;
        box-shadow: 0 .25rem .625rem rgba(0,0,0,.4);//4px, 10px
      }
      &:before {
        z-index: -1;
        @include rotate(1deg);
        @include apply-origin(0% 100%,false);
      }
      &:after {
        z-index: -2;
        @include rotate(-1deg);
        @include apply-origin(100% 100%,false);
      }
      @media screen and (min-width: $mq-book-text-small) {
        padding: 1.5em;
      }
      @media screen and (min-width: $mq-book-text-med) {
        padding: 1.75em;
      }
    }
    .title a {
      font-family: $sketchbook-headline;
    }
  }
  &.flat {
    p, time, a {
      line-height: 1.3;
      @media screen and (min-width: $mq-flat-text-small) {
        line-height: 1.4;
      }
      @media screen and (min-width: $mq-flat-text-med) {
        line-height: 1.5;
      }
      @media screen and (min-width: $mq-flat-text-large) {
        line-height: 1.6;
      }  
    }
    nav a {
      line-height: 1.2;
    }
    #home {
      margin-right: .25em;
      font-size: 2em;
    }
    #blog-paper {
      padding: 1em;
      font-size: 1em;
      max-width: 37em;
      margin: 0 auto;
      @media screen and (min-width: $mq-flat-text-small) {
        padding: 1.5em;
        font-size: 1.1em;
      }
      @media screen and (min-width: $mq-flat-text-med) {
        padding: 1.75em;
        font-size: 1.3em;
      }
      @media screen and (min-width: $mq-flat-text-large) {
        font-size: 1.5em;
      }
    }
    .title {
      h1 { font-size: 2em; }
      a { display: none; }
    }
    .post-header {
      h2 {
        margin-bottom: 0;
        font-size: 1.5em;
      }
      a {
          font-family: $flat-headline;
      }
    } 
  }
}