// Flat Contact Page
.flat #book .thanks {
  display: none;
  position: absolute;
  width: 100%;
  padding-right: 2em;
  text-align: center;
  z-index: 10;
  h2 {
    font-size: 4em;
    text-align: center;
    margin: 2em 0 1em;
  }
  .another {
    font-family: $flat-headline;
    display: inline-block;
    text-decoration: none;
    color: $text;
    background-color: $yellow;
    padding: 1em 2em;
    &:hover {
      color: white;
      background-color: $orange;
    }
  }
}
.flat {
  #shadow, .flap, .back {
    display: none;
  }
}
.flat #book {
  #left {
    position: relative;
    #envelope {
      position: relative;
      background-color: lighten($blue, 50%);
      padding: 1em;
      text-align: center;
      p, input, textarea, button {
        font-family: $flat-headline;
        text-align: left;
      }
      p {
        margin-bottom: 1em;
        font-size: 1.25em;          
      }
      .input:focus {
        outline: none;
        -webkit-tap-highlight-color: lighten($blue, 50%);
        background-color: lighten($blue, 35%);
      }
      .box, .message {
        padding: .25em .25em 0 .5em;
        background-color: transparent;
        border-radius: 0;
        max-width: 95%;
        border: none;
        border-bottom: 2px solid $text;        
      }
      .email { width: 15em; }
      .message {
        border: none;
        width: 100%;
        max-width: 100%;
        min-height: 8em;
        padding: .5em;
      }
      .send {
        display: inline-block;
        color: white;
        background-color: $red;
        border: none;
        padding: 1em 2em;
        &:focus {
          outline: none;
          -webkit-tap-highlight-color: lighten($blue, 50%);
          background-color: $orange;
        }
        &:hover {
          background-color: $orange;
        }
      }
      @media screen and (max-width: 60em) {
        padding: 1em 20%
      }
      @media screen and (max-width: 40em) {
        padding: 1em;
      }
    } // #envelope
    &.sent {
      .thanks { display: block; }
      #envelope { 
        opacity: 0;
        z-index: -1;
        & > * { z-index: -1; }
      }
    }
  } // #left
  #right {
    & > *:not(.social) { margin-bottom: 1.5em; }
    #contact-card {
      border: .5em solid lighten($blue, 35%);
      padding: 0 0 53%; // 2"/3.5"
      width: 100%;
      height: 0;
      background: $card url($media-path + 'card.svg') no-repeat center center;
      background-size: contain;
    }
    .bio {
      display: table;
      .photo {
        padding: 0;
        float: none;
        display: table-cell;
        width: 30%;
      }
      .blurb {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding: 0 3em;
      }
    }
    .social a {
      display: inline-block;
      width: 5em;
      height: 5em;
      margin: .5em;
      padding: .5em;
      background-color: $green;
      &:hover {
        background-color: $blue;
      }
    }
    // Two columns
    @media screen and (max-width: 60em) {  
      #contact-card {
        display: inline-block;
        width: 50%;
        padding-bottom: 28.5%;
      }
      .bio { 
        width: 46%;
        display: inline-block;
        margin-left: 1em;
        vertical-align: top;
        .photo { width: 40%; }
        .blurb { padding: 0 1em; }
      }
    }
    // One column
    @media screen and (max-width: 40em) {
      & > *:not(.social) { margin-bottom: 1em; }
      #contact-card {
        display: block;
        width: 100%;
        padding-bottom: 57%;
      }
      .bio {
        width: 100%;
        display: block;
        margin-left: 0;
        vertical-align: baseline;
        .photo { width: 30%; }
        .blurb { padding: 0 3em; }
      }
    }
    @media screen and (max-width: 26em) {
      .bio .blurb { padding: 0 1em; }
    }
  } // #right
}