html, body { height: 100%; }
.sketchbook #wrapper, .flat #wrapper {
  min-height: 100%;
  margin-bottom: -5.25em;
  &:after {
    content: '';
    display: block;
    height: 5.25em;
  }
}
footer, .footer {
  height: 5.25em;
  position: relative;
  z-index: 10;
  .flat & {
    max-width: 60em;
    margin: 0 auto;
  }
  .sketchbook & {

  }
  #toggle {
    display: inline-block;
    float: left;
    .sketchbook & {
      margin: 1rem;
      opacity: .5;
      &:hover {
        opacity: 1;
      }
      &:before {
        display: inline-block;
        content: '';
        width: 1rem; height: 1rem;
        background-color: white;
        margin-top: .2rem;
        margin-bottom: -.1rem;
      }
    }
  }
  #gallery {
    float: right;
    .sketchbook & {
      margin: 1rem;
      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width:31em) {
    padding-top: .5em;
    #gallery {
      .flat & {
        padding: .75em;
        &:not(.expanded) {
          text-indent: 200%;
          white-space: nowrap;
          overflow: hidden;
          width: 2.5em;
          &:before, [class*="icon-"]:before {
            text-indent: 0;
            float: left;
            margin-right: 0;
          }
        }
      }
    }
  }
}