.gallery {
  @include flex;
  @include flex-wrap;
  @include align-items; // flex-start
  @include justify-content; //space-around;
}
.view-gallery {
  width: 100%;
  padding-top: 1em;
  // For Firefox who can't handle a flexbox
  clear: left;
  text-align: center;
  h2 { margin-bottom: .5em; }
  .flat & .button { margin-top: 0; }
}
.gallery-group-title {
  width: 100%;
  text-align: center;
}
.gallery-pagination {
  width: 100%;
  @include flex;
  @include flex-wrap;
  .next {
    width: 100%;
    text-align: right;
  }
}
@-moz-document url-prefix() { 
  .gallery {
     display: block;
  }
  .gallery-pagination, .gallery-group-title {
    display: block;
    clear: left;
  }
}
.next .button:before {
  float: right;
  margin: 0 0 0 .5em;
}
.sketchbook {
  .gallery-group-title {
    font-size: 1.5em;
    padding-top: .5rem;
  }  
  .gallery-photo-tall {
    width: 5rem;
  }
  .gallery-photo-wide {
    width: 8rem;
  }
  .gallery-pagination {
    padding-top: .5rem;
  }
  .disabled {
    opacity: .2;
    cursor: default;
  }
  #right .gallery-pagination .previous {
    display: none;
  }
}
.sketchnote-gallery {
  #sketchnotes.tab:after { display: none; }
  #book #left.page:before { display: none; }
}
.flat {
  .gallery-group-title {
    padding-top: 1em;
  }  
  .gallery-photo-tall {
    width: 7em;
  }
  .gallery-photo-wide {
    width: 12.5em;
  }
  .gallery-pagination {
    padding-top: .5em;
  }
  .disabled {
    opacity: .2;
    cursor: default;
    &:hover {
      color: $text;
      background-color: lighten($blue, 30%);
    }
  }
  #right .gallery-pagination .previous {
    display: none;
  }
  @media screen and (max-width: 60em) {
    #left .gallery-pagination {
      display: none;
    }
    #right .gallery-pagination .previous {
      display: block;
    }
    .gallery-pagination > * {
      width: 50%;
      float: left;
    }
  }
  @media screen and (max-width: 30em) {
    .gallery-pagination > * {
      width: 100%;
      text-align: center;
    }
  }
}