@font-face {
  font-family: bsn-icons;
  src: url($base-path + "fonts/bsn-icons.eot");
  src: url($base-path + "fonts/bsn-icons.eot?#iefix") format('embedded-opentype'),
       url($base-path + "fonts/bsn-icons.svg#bsn-icons") format('svg'), 
       url($base-path + "fonts/bsn-icons.woff") format('woff'), 
       url($base-path + "fonts/bsn-icons.ttf") format('truetype');
  /* This should make the font use the normal weight for bold as well */
  font-weight: bold;
  font-style: normal;
}

.icon-up:before {
  content: "\e600";
}
.icon-right:before {
  content: "\e601";
}
.icon-down:before {
  content: "\e602";
}
.icon-left:before {
  content: "\e603";
}
.icon-pen:before {
  content: "\e604";
}
.icon-sketchnotes:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\e606";
}
.icon-design:before {
  content: "\e607";
}
.icon-grid:before {
  content: "\e608";
}
$icon-grid: "\e608";
.icon-infographics:before {
  content: "\e609";
}
.icon-sketchbook:before {
  content: "\e60a";
}
.icon-send:before {
  content: "\e60b";
}
.icon-blog:before {
  content: "\e60c";
}
.icon-contact:before {
  content: "\e60d";
}

[class*="icon-"] {
  position: relative;
  &:before {
    font-family: 'bsn-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    margin: 0 .5em 0 0;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}