*, *:before, *:after {
  @include box-sizing('border-box');  
}
* { margin: 0; }
.hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.one-up {
  width: 100%;
}
.two-up {
  width: 50%;
}
.three-up {
  width: 33.3%;
}
.social {
  text-align: center;
  a {
    background: transparent url($base-path + 'img/twitter.svg') no-repeat center center;
    background-size: contain;
    &.linkedin {
      background-image: url($base-path + 'img/linkedin.svg');
    }
    &.flickr {
      background-image: url($base-path + 'img/flickr.svg');
    }
  }
}
