:root.sketchbook {
  position: relative;
  background-color: #B87B4F;
	background-image: url($base-path + 'img/wood.jpg');
	background-attachment: fixed;
	font-size: 16px;
	@media screen and (max-width: 1100px) {
		font-size: 14px;
	}
	@media screen and (max-width: 950px) {
		font-size: 16px;
	}
	@media screen and (max-width: 600px) {
		font-size: 8px;
	}
	@media screen and (min-width: 1300px) {
		font-size: 18px;
	}
	@media screen and (min-width: 1600px) {
		font-size: 20px;
	}
}
.sketchbook #wrapper {
	margin: 0 auto -5.25rem;
	padding: 0 4rem;
  position: relative;
}
.sketchbook nav {
  position: absolute;
  height: 50rem;
  top: 3.75rem;
  z-index: 0;
  // Back page for depth
  &:before {
    content: '';
    width: 30rem;
    height: 49.5rem;
    position: absolute;
    right: -.8rem;
    z-index: -50;
    background-color: $paper;
	  box-shadow: 0px 0px 1.25rem rgba(0,0,0,.4), inset 0px 0px 3.75rem $paper-dark;//20px, 60px
  }
  a {
    position: absolute;
    cursor: pointer;
    font-family: $sketchbook-headline;
    text-transform: uppercase;
    color: $cover;
    text-decoration: none;
  }
}
.sketchbook .tab {
  right: -7.5rem;
  width: 12.5rem;//200px
  height: 4.375rem;//70px
  background-color: $paper;
	box-shadow: .3125rem -.3125rem .625rem rgba(0,0,0,.2), inset 0px 0px .125rem rgba(255,255,255,.5), inset 0px 0px 1.875rem $paper-dark;
  padding-top: 1rem;
	border-radius: 1.25rem 1.25rem 0px 0px;			//20px / 16px
	@include rotate(90deg);
  text-align: center;
  font-size: 1em;
  @include single-transition($property: box-shadow, $duration: .3s);
  &:hover {
    box-shadow: inset 0 0 1.875em $paper-crease, 0px 0px 5rem $shadow;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: -50;
    background-color: $paper;
	  box-shadow: 0px 0px 1.25rem rgba(0,0,0,.4), inset 0px 0px 3.75rem $paper-dark;//20px, 60px     
  }
  &#sketchnotes {
    top: 7.75rem;
    z-index: 50;
    &:after {
      top: 3.2rem;
      left: -3.4rem;
    }
  }
  &#infographics {
    top: 23.125rem;
    z-index: 40;
    &:after {
      top: 3rem;
    }
  }
  &#design {
    top: 38.75rem;
    z-index: 30;
    &:after {
      top: 2.8rem;
    }
  }
}
.sketchbook #blog {
  position: absolute;
  width: 25.5rem;
  height: 42rem;
  top: 2.5rem;
  border-radius: .1875rem;
  background-color: $legal;
  @include background-image(linear-gradient($legal-line 1px, transparent 1px));
  background-size: 100% 1.2em;
  background-position: 0 1em;
  @include single-transition($duration: .2s);
  &:hover {
    top: 2rem;
  }
  .blog-link {
    font-family: $sketchbook-headline;
    font-size: 1.5em;
    margin-top: 2.25rem;
    margin-left: -.5rem;
    display: inline-block;
    @include rotate(90deg);
    &:before { display: none; }
  }
}
.sketchbook.home #blog .blog-link {
  position: relative;
}
.sketchbook #contact {
  position: absolute;
  width: 21rem;
  height: 12rem;
  top: -1rem;
  right: 3rem;
  @include rotate(10deg);
  padding: .5rem 0 0 .625rem;
  font-size: 1.5em;
  background-color: $card;
  box-shadow: .3125rem -.3125rem 1.5rem hsla(0,0%,0%,.2);
  @include single-transition($duration: .2s);
  &:hover { 
    top: -1.375rem;
    right: 3.75rem;
    box-shadow: 0 0 4rem $shadow;
  }
  &:before { display: none; }
}
.sketchbook #book {
	height: 50rem;//800px
	margin: 0 auto 5.5rem;
	position: relative;
  top: 3.75rem;
  // Elastic
  &:before {
    content: '';
    position: absolute;
    width: 1.5625rem;//25px
    right: 3.75rem;//60px
    background-color: $elastic;
    border-radius: .1875rem; //3px
    @include background-image(linear-gradient(left, hsla(0,0%,100%,.2) 0%, hsla(0,0%,100%,0) 40%, hsla(0,0%,0%,0) 60%, hsla(0,0%,0%,.2) 100%));
    background-size: 20% 100%;
    box-shadow: .125rem 0px .3125rem hsla(0,0%,0%,.2);		//2px / 16px	5px / 16px
  }
  // Back cover
  &:after {
    content: '';
    position: absolute;
    z-index: -100;
    background-color: $cover;
    background-image: $noise;
	  box-shadow: inset 0px 0px .625rem rgba(255,255,255,0.6), .3125rem .3125rem .625rem rgba(0,0,0,.4), .625rem .625rem 1.875rem rgba(0,0,0,.2);
  }
  #tagline {
		font-family: $sketchbook-text;
    margin-top: 3rem;
		color: #1a1a1a;
		font-size: 1.7em;
    font-weight: normal;
		text-align: center;
		text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);    
  }
}
.sketchbook #logo {
  margin: 0;
  width: 100%;
  height: 23.375rem;
  border: 1em solid $sticker;
  // Hide the text
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  background: $sticker url($base-path + 'img/logo.svg') no-repeat center center;
  background-size: contain;
	border-radius: 1.25rem;//20px
}
.sketchbook #menu {
  display: none;
}
.sketchbook .button {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: $sketchbook-text;
  color: #FFF;
  text-align: center;
  background-color: $elastic;
  box-shadow: inset .1rem .1rem .25rem hsla(0,0%,100%,.2), 0 0 1rem rgba(0,0,0,0.2);
  border-radius: 1.25rem;
  @include single-transition($duration:.3s);
  &:not(.disabled):hover {
    box-shadow: inset .1rem .1rem .25rem hsla(0,0%,100%,.2), 0 0 2rem $elastic;
  }
  // &:before { display: none; }
}