$mq-book-text-small: 38em;
$mq-book-text-med: 48em;
$mq-book-text-large: 55em;

$mq-flat-xsmall: 25em;
$mq-flat-text-small: 31em;
$mq-flat-text-med: 40.5em;
$mq-flat-text-large: 48em;

$base-path: '../';
$cover: #050505;
$noise: url($base-path + 'img/noise.png');
$sticker: #FFF;
$paper: #FBEFE1;
$paper-dark: #F2CB9B;
$paper-crease: #CA8C39;
$blue: #1B86AE;
$elastic: #500;
$legal: #F2DD72;
$legal-line: #C2BF61;
$card: #FEFEFE;
$shadow: hsla(0,0%,0%,.5);
$sketchbook-headline: 'Walter Turncoat', sans-serif;
$sketchbook-text: 'Short Stack', sans-serif;
$paper-crease: #CA8C39;
$tape: hsla(0,0%,94%,.7);
$envelope: #FFF;
$envelope-shadow: 0 0 .625rem hsla(0,0%,0%,.5);//10px
$letter: #F0F0F0;

// Flat Vars
$border: #fff;
$text: #000;
$green: #14BB8D;
$red: #BB304E;
$orange: #E13D0C;
$yellow: #FAEE1A;
$light-blue: #15C3C5;
$flat-headline: Quicksand, 'Lucida Grande', sans-serif;
$flat-text: 'Open Sans', sans-serif;

@mixin flex {
  display: -webkit-flex;
  display: flex;
}
@mixin flex-wrap($wrap: wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin align-items($align: start, $flex-align: flex-start) {
  -webkit-box-align: $align;
  -webkit-align-items: $flex-align;
  // -moz-box-align: $align;
  -ms-flex-align: $align;
  align-items: $flex-align;
}
@mixin justify-content($justify: space-around) {
  -webkit-justify-content: $justify;
  // -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
}