.flat #book {
  // Because in IE7 it stayed all on one line
  clear: left;
  #logo {
    // In IE7 display: table doesn't work, so center
    margin: 0 auto;
	}
	.page { 
	  // Deal with the fact that the box-sizing is content-box
	  padding: 0;
	  width: 48%;
	  &#left { margin-right: 2em; }
	  .photo { padding: 0; }
	}
	.page#right {
	  .bio {
	    margin: 1em 0;
	    .photo, .blurb { 
	      display: inline-block;
	      float: left;
	      width: 8em;
	    }
	    .blurb {
	      width: 14em;
	    }
	  }
	  .social { clear: left; }
	}	
}