//- Variables for includes
pageTitle = "Blog | BSN Design"
pageClass = "blog"

include _head
  body
    #wrapper
      nav
        a#menu.icon-menu(href="#") Menu
        a#sketchnotes.tab.icon-sketchnotes(href="/sketchnotes/") Sketchnotes
        a#infographics.tab.icon-infographics(href="/infographics/") Infographics
        a#design.tab.icon-design(href="/design/") Design
        a#blog.current(href="/blog/") 
          span.link.icon-blog Blog
        a#contact.icon-contact(href="/contact/") Contact
      section#blog-paper
        a#blog-logo(href="/")
        h1 <span class="hidden">BSN Design </span>Blog
        h2 Coming Soon!
    include _footer
