//- Variables for includes
pageTitle = "Sketchnote Gallery | BSN Design"
pageClass = "sketchnote-gallery"

include _head
  body
    #wrapper
      nav
        a#menu.icon-menu(href="#") Menu
        a#sketchnotes.tab.left.icon-sketchnotes(href="/sketchnotes/") Sketchnotes
        a#infographics.tab.icon-infographics(href="/infographics/") Infographics
        a#design.tab.icon-design(href="/design/") Design
        a#blog(href="/blog/") 
          span.link.icon-blog Blog
        a#contact.icon-contact(href="/contact/") Contact
      section#book.cf
        section#left.page
          header
            a#home(href="/") Home
            h1 Gallery
          .main.gallery
            h2.gallery-group-title Artifact Conference 2013 Sketchnotes
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-00.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-00-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-01.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-01-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-02.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-02-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-03.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-03-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-04.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-04-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-05.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-05-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-06.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-06-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-07.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-07-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-08.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-08-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-09.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-09-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-10.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-10-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-11.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-11-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-12.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-12-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-13.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-13-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-14.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-14-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-15.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-15-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-16.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-16-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-17.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-17-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/artifact/Artifact-2013-Sketchnotes-18.jpg")
              img(src="/img/artifact/Artifact-2013-Sketchnotes-18-thumb.jpg")
            .gallery-pagination.previous
              a.button.disabled.icon-left Previous Page
        section#right.page
          .main.gallery
            h2.gallery-group-title CSS Dev Conference 2013 Sketchnotes
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Cover.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Cover-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-01.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-01-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-02.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-02-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-03.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-03-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-04.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-04-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-05.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-05-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-06.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-06-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-07.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-07-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-08.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-08-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-09.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-09-thumb.jpg")
            h2.gallery-group-title CSS Dev Conference 2013 Day 2 Sketchnotes
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-10.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-10-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-11.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-11-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-12.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-12-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-13.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-13-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-14.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-14-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-15.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-15-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-16.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-16-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-17.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-17-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-18.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-18-thumb.jpg")
            .gallery-pagination
              .previous
                a.button.disabled.icon-left Previous Page
              .next
                a.button.icon-right(href="page-2/") Next Page            
    include _footer