//- Variables for includes
pageTitle = "Image Detail | BSN Design"
pageClass = "image"

include _head
  body
    #wrapper
      nav
        a#menu.icon-menu(href="#") Menu
        a#sketchnotes.tab.left.icon-sketchnotes(href="/sketchnotes/") Sketchnotes
        a#infographics.tab.left.icon-infographics(href="/infographics/") Infographics
        a#design.tab.left.icon-design(href="/design/") Design
        a#blog(href="/blog/") 
          span.link.icon-blog Blog
        a#contact.icon-contact(href="/contact/") Contact
      section#book.cf
        section#left.page
          header
            a#home(href="/") Home
            h1 Image Detail
          .main.gallery
            a#link.photo.one-up
              img#image
        section#right.page
          header
            h2 Other Sketchnote Examples
          .main.gallery
            h2.gallery-group-title Shop Talk Show Sketchnotes
            a.photo.gallery-photo-tall(href="/img/shop-talk/Shop-Talk-Sketchnotes-25-Oct-2013.jpg")
              img(src="/img/shop-talk/Shop-Talk-Sketchnotes-25-Oct-2013-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/shop-talk/Shop-Talk-Sketchnotes-17-Oct-2013.jpg")
              img(src="/img/shop-talk/Shop-Talk-Sketchnotes-17-Oct-2013-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/shop-talk/Shop-Talk-Sketchnotes-10-Oct-2013.jpg")
              img(src="/img/shop-talk/Shop-Talk-Sketchnotes-10-Oct-2013-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/shop-talk/Shop-Talk-Sketchnotes-03-Oct-2013.jpg")
              img(src="/img/shop-talk/Shop-Talk-Sketchnotes-03-Oct-2013-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/shop-talk/Shop-Talk-Sketchnotes-26-Sep-2013.jpg")
              img(src="/img/shop-talk/Shop-Talk-Sketchnotes-26-Sep-2013-thumb.jpg")
            h2.gallery-group-title CSS Dev Conference 2013 Sketchnotes
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Cover.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Cover-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-01.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-01-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-02.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-02-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-03.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-03-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-04.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-04-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-05.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-05-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-06.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-06-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-07.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-07-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-08.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-08-thumb.jpg")
            a.photo.gallery-photo-tall(href="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-09.jpg")
              img(src="/img/css-dev-conf/CSS-Dev-Conf-Sketchnotes-Page-09-thumb.jpg")
            .view-gallery
              h2 Like These? See More!
              a.button.icon-grid(href="sketchnotes-gallery/") View sketchnote gallery
    include _footer
    script .
      $(function(){
        var pic = getQueryVariable('id');
        if(pic!=false) {
          pic = '/img/' + pic;
          $('#link').attr('href',pic);
          $('#image').attr('src',pic);
        }
      });
      function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
          var pair = vars[i].split("=");
          if(pair[0] == variable){return pair[1];}
        }
        return(false);
      }