//- Variables for includes
pageTitle = "Infographics | BSN Design"
pageClass = "infographics"

include _head
  body
    #wrapper
      nav
        a#menu.icon-menu(href="#") Menu
        a#sketchnotes.tab.left.icon-sketchnotes(href="/sketchnotes/") Sketchnotes
        a#infographics.tab.left.current.icon-infographics(href="/infographics/") Infographics
        a#design.tab.icon-design(href="/design/") Design
        a#blog(href="/blog/") 
          span.link.icon-blog Blog
        a#contact.icon-contact(href="/contact/") Contact
      section#book.cf
        section#left.page
          header
            a#home(href="/") Home
            h1 Infographics
          .main
            section
              p.definition in&middot;fo&middot;graph&middot;ics | 'inf&#333;grafiks | (noun):
              p Visual representations of information, data or knowledge. Used by businesses, non-profit groups, and even political campaigns, you can find infographics on websites, in magazines and on social media.
            section
              h2 Simply Complex
              p Right now, infographics are all the rage because of their ability to visually convey complex information simply.
            section
              h2 Hand-Drawn
              p Because everyone has an infographic these days, you need a way to set yours apart. Have it hand-drawn. People will swoon, and they&rsquo;ll share it on Facebook.
            section
              h2 Want one?
              p <a class="link" href="/contact/">Tell me.</a> I&rsquo;ll do it! You&rsquo;ll love it. We&rsquo;ll both be happy. It's a simple flat fee per project and you receive a digital copy with the all the rights.
        section#right.page
          header
            h2 Infographic Example
          .main.gallery
            a.photo.one-up(href="/img/incorporate/Infographic-Delaware.jpg")
              img(src="/img/incorporate/Infographic-Delaware.jpg")
    include _footer