//- Variables for includes
pageTitle = "Sketchnotes | BSN Design"
pageClass = "sketchnotes"

include _head
  body
    #wrapper
      nav
        a#menu.icon-menu(href="#") Menu
        a#sketchnotes.tab.left.current.icon-sketchnotes(href="/sketchnotes/") Sketchnotes
        a#infographics.tab.icon-infographics(href="/infographics/") Infographics
        a#design.tab.icon-design(href="/design/") Design
        a#blog(href="/blog/") 
          span.link.icon-blog Blog
        a#contact.icon-contact(href="/contact/") Contact
      section#book.cf
        section#left.page
          header
            a#home(href="/") Home
            h1 Sketchnotes
          .main
            section
              p.definition sketch&middot;notes | skeCH&#39;n&#333;ts | (noun):
              p A blend of simple sketches, stylized text, and visual notes; sketchnotes are useful doodles.
            section
              h2 Big Ideas
              p Sketchnotes capture the main points in a fun and visual way with any audience. Everyone loves them, from executives to clients&hellip; even accountants.
            section
              h2 Enhance Your Message
              p Anything can be sketchnoted: conferences, meetings, webinars, documents, memos, refrigerator etiquette signs&hellip; People love to share them on social media, so after you distribute your content in sketchnote form, it will be talked about and forever immortalized.
            section
              h2 Get Your Own
              p <a class="link" href="/contact/">Hire me</a> to sketchnote for you. It&rsquo;s a simple flat fee per project plus travel expenses for live events. Oh, and a bag of peanut m&amp;m&rsquo;s.
        section#right.page
          header
            h2 Sketchnote Examples
          .main.gallery
            a.photo.three-up(href="/img/shop-talk/Shop-Talk-Sketchnotes-10-Oct-2013.jpg")
              img(src="/img/shop-talk/Shop-Talk-Sketchnotes-10-Oct-2013-thumb.jpg")
            a.photo.three-up(href="/img/shop-talk/Shop-Talk-Sketchnotes-03-Oct-2013.jpg")
              img(src="/img/shop-talk/Shop-Talk-Sketchnotes-03-Oct-2013-thumb.jpg")
            a.photo.three-up(href="/img/shop-talk/Shop-Talk-Sketchnotes-26-Sep-2013.jpg")
              img(src="/img/shop-talk/Shop-Talk-Sketchnotes-26-Sep-2013-thumb.jpg")
            a.photo.two-up(href="/img/general/sketchnotes-next-thing-now-jan-2013.jpg")
              img(src="/img/general/sketchnotes-next-thing-now-jan-2013-thumb.jpg")
            a.photo.two-up(href="/img/incorporate/Steiner-Sketchnotes.jpg")
              img(src="/img/incorporate/Steiner-Sketchnotes-thumb.jpg")
            a.photo.two-up(href="/img/incorporate/Sketchnote-Resolutions.jpg")
              img(src="/img/incorporate/Sketchnote-Resolutions-thumb.jpg")
            a.photo.two-up(href="/img/incorporate/How-to-Raise-Capital-Sketchnotes.jpg")
              img(src="/img/incorporate/How-to-Raise-Capital-Sketchnotes-thumb.jpg")
            .view-gallery 
              a.button.icon-grid(href="sketchnotes-gallery/") View entire gallery
    include _footer