---
page-title: Blog | BSN Design
page-classes: blog post
readyScript: var words=parseInt($('#words').html()),time=Math.ceil(words/225);$("#reading-time").html(time)
---
{% include head.html %}
        <section id="blog-paper">
          <header class="page-header"><a href="{{ site.baseurl }}/" class="blog-logo" id="home">Home</a>
            <div class="title">
              <h1><span class="hidden">BSN Design </span>Blog</h1>
            </div>
          </header>
          <article class="main">
            <header class="post-header">
              <h2>{{ page.title }}</h2>
              <p class="meta">
                <time>{{ page.date | date_to_string }}</time>
              </p>
              <p class="meta">Reading Time: <span id="reading-time">0</span> minutes</p>
              <p class="meta hide">Words: <span id="words">{{ page.content | number_of_words }}</span></p>
            </header>
            <div class="main">
              {{ content }}
            </div>
          </article>
        </section>
{% include foot.html %}