{% include head.html %}
        <section id="blog-paper">
          <header class="page-header"><a href="{{ site.baseurl }}/" class="blog-logo" id="home">Home</a>
            <div class="title">
              <h1><span class="hidden">BSN Design </span><a class="link" href="{{ site.baseurl }}/blog/">Blog</a></h1>
            </div>
          </header>
          <article class="main">
            <header class="post-header">
              <h2>{{ page.title }}</h2>
              <p class="meta">
                <time>{{ page.date | date_to_string }}</time>
              </p>
            </header>
            <div class="main">
              {{ content }}
            </div>
          </article>
        </section>
{% include foot.html %}